Repository jonahsnider/convert: changes, and which Codecov flags are due for each by the changed paths.
All: bundled-conversions, codegen, convert

codecov.yml:

flags:
  bundled-conversions:
    paths:
      - ./packages/bundled-conversions
  codegen:
    paths:
      - ./packages/codegen
  convert:
    paths:
      - ./packages/convert-tests

ci: only upload test coverage for `convert` package
  .github/workflows/ci.yml
  codecov.yml
Due: none

build(deps): update dependency turbo to v1.0.24
  package.json
  yarn.lock
Due: none

ci: only upload test coverage for `convert` package (#363)
  .github/workflows/ci.yml
  codecov.yml
Due: none

fix: fix compilation errors in typings declaration
  docs/api.md
  packages/convert/src/convert-many.ts
  packages/convert/src/types/common.ts
  packages/convert/src/types/units.ts
Due: none

build(convert): run API extractor in local mode during `build` script
  packages/convert/package.json
Due: none

Notes added by 'git notes add'
  f32974be457d0d59882ce4ed0820e7118456d3bd
Due: none

refactor: remove unnecessary API Extractor TSDoc tags
  packages/conversions/src/conversions/angle.ts
  packages/conversions/src/conversions/area.ts
  packages/conversions/src/conversions/data.ts
  packages/conversions/src/conversions/force.ts
  packages/conversions/src/conversions/length.ts
  packages/conversions/src/conversions/mass.ts
  packages/conversions/src/conversions/pressure.ts
  packages/conversions/src/conversions/temperature.ts
  packages/conversions/src/conversions/time.ts
  packages/conversions/src/conversions/volume.ts
  packages/conversions/src/index.ts
  packages/conversions/src/types/index.ts
Due: none

test: increase all timeouts `25s` -> `45s`
  packages/bundled-conversions/ava.config.mjs
  packages/codegen/ava.config.mjs
Due: bundled-conversions, codegen

Notes added by 'git notes add'
  8b50fdd33c01cdbf472c362c30a99a5ec966ed35
Due: none

build: add `@types/node` to dependncies of internal modules
  packages/bundled-conversions/package.json
  packages/codegen/package.json
  packages/convert-tests/package.json
  yarn.lock
Due: bundled-conversions, codegen, convert

refactor(convert): use `export *` in more places
  packages/convert/src/convert-many.ts
  packages/convert/src/index.ts
Due: none

refactor: use bignumber.js instead of decimal.js
  packages/conversions/package.json
  packages/conversions/src/conversions/mass.ts
  packages/conversions/src/conversions/pressure.ts
  packages/conversions/src/macros/expand.ts
  packages/conversions/src/types/index.ts
  packages/optimized-conversions/package.json
  packages/optimized-conversions/src/optimizer/best.ts
  packages/optimized-conversions/src/optimizer/optimize.ts
  yarn.lock
Due: none

build: standardize `engines.node` property
  packages/bundled-conversions/package.json
  packages/codegen/package.json
  packages/conversions/package.json
  packages/convert-tests/package.json
  packages/optimized-conversions/package.json
Due: bundled-conversions, codegen, convert

refactor(convert): update keys of `this` in converters
  packages/convert/src/convert-many.ts
  packages/convert/src/converter.ts
Due: none

refactor: make return type of `ms` function more specific
  packages/convert/src/ms.ts
Due: none

refactor(convert): fix variable name for `ConversionFamilyId`
  packages/convert/src/ms.ts
Due: none

build(convert): update API report
  docs/api.md
Due: none

build(convert): stop updating API report during builds
  packages/convert/package.json
Due: none

test(convert): add `convertBest` macro and support provided titles
  packages/convert-tests/test/util/macros.ts
Due: convert

test(convert): add failing test for precision loss when converting to "best"
  packages/convert-tests/test/convert.test.ts
Due: convert

build(convert): generate typings bundle and ignore any errors
  packages/convert/package.json
Due: none

build(deps): update dependency @types/node to v16.11.18
  packages/bundled-conversions/package.json
  packages/codegen/package.json
  packages/convert-tests/package.json
  packages/convert/package.json
  yarn.lock
Due: bundled-conversions, codegen, convert

build(deps): update dependency ava to v4.0.0
  packages/bundled-conversions/package.json
  packages/codegen/package.json
  packages/convert-tests/package.json
  yarn.lock
Due: bundled-conversions, codegen, convert

build(deps): update dependency @types/node to v16.11.19
  packages/bundled-conversions/package.json
  packages/codegen/package.json
  packages/convert-tests/package.json
  packages/convert/package.json
  yarn.lock
Due: bundled-conversions, codegen, convert

build(deps): update dependency rollup to v2.63.0
  packages/convert/package.json
  yarn.lock
Due: none

build(deps): update dependency @microsoft/api-extractor to v7.19.4
  packages/convert/package.json
  yarn.lock
Due: none

build(deps): update dependency @rollup/plugin-node-resolve to v13.1.3
  packages/convert/package.json
  yarn.lock
Due: none

build(deps): update dependency ava to v4.0.1
  packages/bundled-conversions/package.json
  packages/codegen/package.json
  packages/convert-tests/package.json
  yarn.lock
Due: bundled-conversions, codegen, convert

test: re-enable snapshot tests now that AVA is fixed
  packages/bundled-conversions/test/index.test.ts
  packages/bundled-conversions/test/snapshots/index.test.ts.snap
Due: bundled-conversions

build(deps): update dependency type-fest to v2.9.0
  packages/conversions/package.json
  yarn.lock
Due: none

docs(convert-tests): add README for package
  packages/convert-tests/README.md
Due: convert

build(deps): update dependency @babel/preset-env to v7.16.8
  packages/convert/package.json
  yarn.lock
Due: none

build(deps): update dependency turbo to v1.0.25
  package.json
  yarn.lock
Due: none

build(deps): update dependency @types/prettier to v2.4.3
  packages/codegen/package.json
  yarn.lock
Due: codegen

build(deps): update dependency turbo to v1.0.26
  package.json
  yarn.lock
Due: none

build: use per-package gitignore
  .gitignore
  packages/convert/.gitignore
Due: none

test: use Jest instead of AVA
  .github/workflows/ci.yml
  codecov.yml
  packages/convert-tests/README.md
  packages/convert-tests/ava.config.mjs
  packages/convert-tests/package.json
  packages/convert-tests/test/conversions/angle.test.ts
  packages/convert-tests/test/conversions/area.test.ts
  packages/convert-tests/test/conversions/data.test.ts
  packages/convert-tests/test/conversions/temperature.test.ts
  packages/convert-tests/test/conversions/volume.test.ts
  packages/convert-tests/test/convert-many.test.ts
  packages/convert-tests/test/convert.test.ts
  packages/convert-tests/test/ms.test.ts
  packages/convert-tests/test/util/convert.ts
  packages/convert-tests/test/util/macros.ts
  packages/convert-tests/tsconfig.json
  packages/convert-tests/xo.config.cjs
  packages/convert/.vscode/settings.json
  packages/convert/babel.config.js
  packages/convert/jest.config.js
  packages/convert/package.json
  packages/convert/src/conversions/angle.test.ts
  packages/convert/src/conversions/area.test.ts
  packages/convert/src/conversions/data.test.ts
  packages/convert/src/conversions/temperature.test.ts
  packages/convert/src/conversions/volume.test.ts
  packages/convert/src/convert-many.test.ts
  packages/convert/src/convert.test.ts
  packages/convert/src/convert.ts
  packages/convert/src/converter.ts
  packages/convert/src/index.test.ts
  packages/convert/src/ms.test.ts
  packages/convert/test/assert-conversion.ts
  packages/convert/test/convert.ts
  packages/convert/test/legacy.cjs
  packages/convert/test/with-builds.ts
  packages/convert/xo.config.cjs
  packages/optimized-conversions/src/optimizer/optimize.ts
  yarn.lock
Due: convert

build(deps): remove unused dependency
  packages/convert/package.json
  yarn.lock
Due: none

ci(build-and-test): increase timeout to 20 minutes
  .github/workflows/ci.yml
Due: none

ci: decrease timeouts
  .github/workflows/ci.yml
Due: none
